@charset "utf-8";
@import url('base.css');
@import url('layout.css');

.h3_wrap {position:relative;height:38px;overflow:hidden;border-bottom:1px solid #e7e7e7;margin-bottom:44px}
.h3_wrap .ttt * {vertical-align:bottom}
.h3_wrap .ttt span {padding-left:20px}
.line_map {position:absolute;right:1px;top:14px}
.line_map p {font-size:11px}
#content h4 {margin:35px 0 18px 0;background:url('../images/blt/blt_line.gif') no-repeat 0 50%;padding-left:11px}
#content h5 {background:url('../images/blt/blt_h5.gif') no-repeat 0 50%;margin:0 0 12px 11px;padding-left:12px;color:#515151;font-weight:bold}

/* ol_style */
.number {padding:18px 0 0 11px}
.number ol li {line-height:18px;background-position:0 1px;background-repeat:no-repeat;padding:0 0 7px 22px;color:#555}
.num01 {background-image:url('../images/blt/blt_01.gif')}
.num02 {background-image:url('../images/blt/blt_02.gif')}
.num03 {background-image:url('../images/blt/blt_03.gif')}
.num04 {background-image:url('../images/blt/blt_04.gif')}
.num05 {background-image:url('../images/blt/blt_05.gif')}

/* ul_style */
.ul_style {position:relative}
.ul_style ul li {line-height:18px;background:url('../images/blt/blt_dot.gif') no-repeat 0 8px;padding-left:9px;margin-bottom:18px}
.ul_style ul li p span {padding-left:8px}
.ul_style ul li em {text-decoration:underline;font-weight:bold;color:#2754a0}
.m6 ul li {margin-bottom:6px !important}
.btn_down {position:absolute;top:0;right:0}

.ul_style2  {overflow:hidden;width:100%;margin-top:20px}
.ul_style2 ul {overflow:hidden;width:120%}
.ul_style2 ul li {float:left;width:330px;margin-right:26px}
.ul_style2 ul li strong {line-height:18px;background:url('../images/blt/blt_dot.gif') no-repeat 0 8px;padding-left:9px;margin:0 0 8px 3px;display:block}

.step_wrap ul li {position:relative;overflow:hidden;background:url('../images/content/dotline.gif') repeat-x 0 bottom;padding:14px 0 11px 0}
.step_wrap ul li.first {padding-top:0}
.step_wrap .step_tit {float:left;width:170px;margin-right:25px}
.step_wrap .step_txt {float:left;width:490px;padding-top:12px;line-height:18px}
.step_wrap .s_btn {position:absolute;right:10px;bottom:11px}

/* box */
.box_01 {background-color:#f7f7f7;position:relative;height:100px;padding-left:30px;margin:30px 0}
.box_01 p {padding-top:26px}
.box_01 a {position:absolute;top:13px;right:29px}

.box_02 {width:686px;height:235px;background:url('../images/content/box_bg.gif') no-repeat 0 0}
.box_02 ul {overflow:hidden}
.box_02 ul li {float:left;padding:28px 0 0 109px}
.box_02 ul li.wh01 {width:250px;height:92px}
.box_02 ul li.wh02 {width:218px;height:92px}
.box_02 ul li.wh03 {width:250px}
.box_02 ul li.wh04 {width:218px}
.box_02 ul li p {font-size:11px;line-height:15px;padding-top:10px}

.box_03 {border:1px solid #dedede;background:url('../images/content/img_02_05_bg.gif') no-repeat 23px 20px;padding:19px 0 0 76px;height:108px}
.box_03 a {text-decoration:underline;display:inline-block;margin:5px 0;color:#2754a0;font-size:11px}

.box_04 {border:1px solid #dedede}
.box_04 ul {overflow:hidden}
.box_04 ul li {float:left;height:95px;overflow:hidden}
.box_04 ul li.desk {background:url('../images/content/img_02_05_bg.gif') no-repeat 23px 26px;padding:25px 0 0 76px;width:200px}
.box_04 ul li a {text-decoration:underline;display:inline-block;margin:5px 0;color:#2754a0;font-size:11px}
.box_04 ul li.online_q {background:url('../images/content/img_02_03_bg.gif') no-repeat 28px 24px;border-left:1px solid #dedede;width:312px;padding:25px 0 0 95px;position:relative}
.box_04 ul li.online_q p strong {display:block;margin:10px 0 3px 0}
.box_04 .ts {line-height:14px}
.box_04 .btn_go {position:absolute;top:79px;left:22px}

.box_05 {border:1px solid #dedede;line-height:18px;padding:10px 20px;margin-bottom:30px;position:relative}
.box_05 ul li {margin-bottom:20px}
.box_05 ul li strong {font-size:14px;display:block;margin-bottom:5px}
.box_05 ul li p {margin-left:22px}
.box_05 ul li ul {margin-top:12px}
.box_05 ul li ul li {margin:0 0 5px 22px}
.box_05 ul li ul li strong {font-size:12px}
.box_05 ul li ul li ul {margin-top:5px;margin-bottom:10px}
.box_05 ul li ul li ul li strong{background:url('../images/blt/blt_dot4.gif') no-repeat 0 5px;padding-left:12px;color:#2754a0}
.box_05 ul li ul li ul li.bltt {background:url('../images/blt/blt_dot4.gif') no-repeat 0 5px;padding-left:12px}
.box_05 ul li ul li ul li p {margin-left:12px}
.box_05 ul li ul li ul li p span {margin-left:45px}
.box_05 ul.mbs {margin:5px 0 15px 0}
.box_05 ul.mbs li {margin-bottom:0px}
.tb {font-weight:bold;color:#2754a0;font-size:16px;margin-bottom:15px}
.scroll2 {height:300px;oveflow-x:hidden;overflow-y:auto}
.col02 {overflow:hidden;padding-bottom:30px}
.col02 div {width:360px;float:left}
.col02 div p {font-size:14px;font-weight:bold;background:url('../images/blt/blt_dot3.gif') no-repeat 0 45%;padding-left:12px;margin-bottom:5px}
.col02 div ul {margin-left:12px}
.col02 div ul li {margin-bottom:0;line-height:20px}
.col02 div ul li a {text-decoration:underline;color:#2754a0}
.tday {padding:5px 0}
.tday strong {display:inline-block;background:url('../images/blt/blt_dot4.gif') no-repeat 0 45%;padding-left:12px}
.tday span {display:inline-block;margin:0 40px 0 5px}
.box_05 a.a_view {position:absolute;font-weight:bold;top:15px;right:20px}

.data {margin:10px 40px 10px 20px}
.data table{border-right:1px solid #ddd;border-top:1px solid #ddd}
.data table caption {text-indent:-999999px;font-size:0;line-height:0;height:0;overflow:hidden}
.data table th {font-weight:bold;text-align:center;padding:7px 0;background-color:#f7f7f7;border-left:1px solid #ddd;border-bottom:1px solid #ddd}
.data table td {border-left:1px solid #ddd;border-bottom:1px solid #ddd;padding:7px 10px}

/* img */
.img01 {background:url('../images/content/img_01_02_bg.gif') no-repeat 0 0;width:685px;height:487px;margin-top:30px;position:relative}
.img01 p, .img01 ul {position:absolute}
.h401 {top:193px;left:287px}
.h501 {top:42px;left:56px}
.h502 {top:42px;left:520px}
.h503 {top:362px;left:88px}
.img01 ul li {line-height:24px;background:url('../images/blt/blt_dot.gif') no-repeat 0 45%;padding-left:9px}
.h501_list {top:80px;left:56px}
.h502_list {top:80px;left:520px}
.h503_list {top:400px;left:88px}
.h503_list li {float:left;width:180px}

.img02 {background:url('../images/content/img_01_03_bg.gif') no-repeat 0 40px;padding-top:40px}
.img03 {background:url('../images/content/img_01_04_bg.gif') no-repeat 100% 20px}
.img02 p {padding-bottom:15px}
.img02 ul, .img03 ul {margin-bottom:40px}
.img02 ul li, .img03 ul li {line-height:18px;background:url('../images/blt/blt_dot2.gif') no-repeat 0 7px;padding:0 0 7px 9px}
.b_line {background:url('../images/blt/blt_line.gif') no-repeat 0 0;padding-left:13px}

.img04 {background:url('../images/content/img_05_03_bg.gif') no-repeat 92% 0}
.point {padding:20px 0 12px 0}

.img05 {background:url('../images/content/img_03_01_bg.gif') no-repeat 100% 0}

.model_wrap {overflow:hidden}
.model_wrap .model {float:left;width:349px;margin-right:37px}
.model_wrap .model_info {float:left;width:300px}
.model_wrap .model_info p {font-weight:bold;background:url('../images/blt/blt_dot.gif') no-repeat 0 50%;padding-left:9px;margin:15px 0 6px 0}
.model_wrap .model_info ul {margin-left:9px}
.model_wrap .model_info ul li {line-height:20px}

/* search */
.sh_wrap {margin:-10px 0 18px 0}
.sh_wrap .sh {text-align:right}
.sh_wrap select {color:#727272;font-size:11px;height:19px}
.sh_wrap input[type='image'] {padding:0;margin:0 0 0 2px}
.sh_wrap input[type='text'] {height:19px;line-height:19px;border:1px solid #d1d1d1;background-color:#f3f3f3;width:145px}
.sh_ico {background:url('../images/ico/ico_sh.gif') no-repeat 0 50%;padding-left:16px}

/* login */
.t_info {margin-left:27px}
.login_wrap {border-top:2px solid #2754a0;border-bottom:1px solid #2754a0;position:relative;padding:34px 0 20px 0;margin-top:7px}
.login_wrap p {overflow:hidden;margin-left:190px;height:30px}
.login_wrap p label {display:inline-block;width:65px}
.login_wrap p input[type='text'], .login_wrap p input[type='password'] {background-color:#fff;width:130px}
.login_wrap .btn_login {position:absolute;top:34px;left:407px}
.login_wrap .t_login {text-align:center;font-size:11px;margin:10px 0 0 0}

/* list */
.list table {border-top:2px solid #2754a0;border-bottom:1px solid #e3e3e3}
.list table caption {text-indent:-999999px;font-size:0;line-height:0;height:0;overflow:hidden}
.list table th {height:25px;border-bottom:1px solid #2754a0;text-align:center;background:url('../images/blt/blt_th.gif') no-repeat 0 0}
.list table th.first {background:none}
.list table td {text-align:center;padding:5px 0 4px 0;border-bottom:1px solid #e3e3e3}
.list table td.t_left{padding:5px 30px 4px 30px}
.list table td.day {font-family:'tahoma';font-size:11px}
.list table td.an {font-size:11px;line-height:18px;padding:7px 0 7px 95px;text-align:left}
.list table td.view_tt {padding:10px 20px;text-align:left;line-height:18px}
#faq-list a {background:url('../images/ico/ico_q_off.gif') no-repeat 0 1px;padding-left:16px;display:block;color:#333}
#faq-list a.on {background:url('../images/ico/ico_q.gif') no-repeat 0 1px;font-weight:bold}
.list table td.an p {background:url('../images/ico/ico_a.gif') no-repeat 0 3px;padding-left:16px;color:#444}

/* write */
.write table {border-top:2px solid #2754a0;border-bottom:1px solid #2754a0;margin-bottom:30px}
.write table caption {text-indent:-999999px;font-size:0;line-height:0;height:0;overflow:hidden}
.write table th, .write table td {text-align:left;padding:5px 0;border-bottom:1px solid #e3e3e3}
.write table th {vertical-align:top;padding-top:7px}
.write table th label, .write table th p {padding-left:15px}
.write table th span {color:#dc1313;padding-left:5px}
.write table td {font-size:11px}
.write table td select {font-size:11px;color:#727272}
.write table td label {display:inline-block;width:105px;padding-left:3px}
.write table td input[type='text'], .write table td input[type='password'] {background-color:#fff;line-height:15px;height:15px}
.write table td textarea {width:95%}
.write table tr.no th, .write table tr.no td {border-bottom:none}

/* paging */
.paging {margin-top:25px;text-align:center}
.paging a {display:inline-block;padding:4px 6px 4px 9px;background:url('../images/blt/blt_page.gif') no-repeat 0 45%}
.paging a.this {color:#2754a0;font-weight:bold}
.paging a.im {background:none;position:relative;top:-1px}
.paging a.noline {background:none}

/* sitemap */
.sitemap_wrap {background:url('../images/content/sitemap_bg.gif') no-repeat 100% 100%;overflow:hidden}
.sitemap_wrap div {float:left;width:200px;margin:0 110px 44px 0;min-height:226px}
.sitemap_wrap div h2 {background:url('../images/blt/blt_sitemap.gif') no-repeat 0 0;padding-left:15px;margin-bottom:20px}
.sitemap_wrap ul li a {background:url('../images/blt/blt_sitemap2.gif') no-repeat 2px 50%;padding:8px 0 0 15px;display:block;border-bottom:1px solid #e3e3e3;height:21px}
.sitemap_wrap ul li ul li a {background:url('../images/blt/blt_sitemap3.gif') no-repeat 15px 50%;padding-left:30px}

/* margin */
.mrb0 {margin-bottom:0 !important}
.mrb5 {margin-bottom:5px !important}
.mrb15 {margin-bottom:15px}
.mrt5 {margin-top:5px}
.mrt6 {margin-top:6px}
.mrt25 {margin-top:25px}
.mrt30 {margin-top:30px !important}
.mrt40 {margin-top:40px !important}
.mrl01 {margin-left:315px !important;margin-top:0 !important}
.mr01 {margin-left:320px;margin-bottom:35px}
.mrb30 {margin-bottom:30px}
.mrl10 {margin-left:11px}
.mrl20 {margin-left:20px}

/* padding */
.pdl01 {padding-left:26px}
.pdb40 {padding-bottom:40px !important}
.pdl10 {padding-left:10px}
.pdt20 {padding-top:20px !important}

/* btn */
.btn_r {text-align:right;margin-top:20px}
.btn_c {text-align:center;margin-top:20px}
.btn_c a {margin:0 3px}
.btn_01 {display:inline-block;height:16px;background:url('../images/btn/btn_bg.gif') no-repeat 0 0;cursor:pointer}
.btn_01 a {display:inline-block;height:16px;line-height:17px;background:url('../images/btn/btn_bg.gif') no-repeat 100% -16px;font-size:11px;color:#fff;padding:0 6px;text-decoration:none;font-weight:bold}
a.btn_02 {border:1px solid #d1d1d1;background-color:#e7e7e7;font-size:11px;font-weight:bold;height:16px;line-height:17px;display:inline-block;padding:0 6px;margin-left:10px;text-decoration:none}

/* etc */
.p_blt {line-height:18px;background:url('../images/blt/blt_dot.gif') no-repeat 0 8px;padding-left:9px;margin-bottom:8px}
.p_blt em {text-decoration:underline;font-weight:bold;color:#2754a0}
.hide {text-indent:-999999px;font-size:0;line-height:0;height:0;overflow:hidden}
.ts {font-size:11px}
.tts {font-size:11px;text-align:right;margin:7px 0 25px 0}
.tts span {font-size:12px}
.red {color:#dc1313}
.w01 {width:135px}
.w02 {width:245px}
.w03 {width:90px}
.w04 {width:45px}
.w05 {width:95%}
.sw02 {width:70px}
.sw03 {width:100px}

/* scoll */
.scoll {border:1px solid #d1d1d1;height:100px;padding:7px;overflow-x:hidden;overflow-y:auto;line-height:18px}
.scoll .tt01 {font-weight:bold;color:#000}
.scoll .tt02 {padding:3px 7px}
.scoll ul {padding:10px 7px 0 7px}
.scoll ul li {color:#333;font-weight:bold;margin-bottom:10px}
.scoll ul li p {padding:5px 0 0 12px;font-weight:normal}
.scoll ul li ul {padding:5px 7px 0 12px}
.scoll ul li ul li {font-weight:normal;background:url('../images/blt/blt_dot2.gif') no-repeat 0 7px;padding-left:9px;color:#666;margin-bottom:0}
.scoll ul li.blt {background:url('../images/blt/blt_h5.gif') no-repeat 0 5px;padding-left:10px;font-weight:normal;color:#2754a0}
.scoll ul li.blt ul {padding-left:2px}
.t_agree {text-align:right;margin-top:5px}
.t_agree label {padding-left:4px}